# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.Python

# Environment files
.env
.flaskenv

# Flask-Migrate artifacts
migrations/__pycache__/
migrations/versions/__pycache__/

# Database dumps
*.sql

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test and Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# macOS system files
.DS_Store

# Backup files
*.bak
*.swp
*~
